@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&h=750&w=12600);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

